



.messageRightSide{
    background-color: #fff;
    height: 800px;
    width: 1200px;
    border-radius: 20px;

}
.chatWraps{
    width:100%;
    height:540px;
    overflow-y: scroll;
}
.userChat, .adminChat{
    background: #0F79F3;
    color: #fff;
    padding: 15px 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 5px;
    text-align: right;
    max-width: auto;
}
.adminChat{
    background: #F4F6FC;
    color: black;
    max-width: 80%;
    text-align: left;
}
.chatting{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatting{
    background:#F4F6FC;
    width:100%;
    height:100px;
}
.chatBtn{
    background: #0F79F3;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    width: 68px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatInput{
    width: 975px;
    background: #fff;
    padding: 10px 5px;
    border-radius: 3px;
    margin: 0 10px;
    height: 55px;
}

/* rightSide chat styling */
.messageLeftSide{
    background:#FFFFFF;
    width:600px;
    height:800px;
    border-radius: 10px;
    padding:10px;
}
.searchChat{
    width: 100%;
    height: 50px;
    background: #F4F6FC;
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}
.searchChat input{
    background: transparent;
    height: 100%;
    width: 94%;
    padding-left: 10px;
}
.messageList{
    height:600px;
    overflow-y: scroll;;
}
.userMessageList{
    border-bottom:1px solid #f4f6fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:12px 8px;
    padding-right:16px;
}
.createGroup{
    background: #0E74E9;
    color: #fff;
    justify-content: center;
    padding: 18px;
}
.activeUsers{
    border-radius: 100%;
    height:8px;
    width:8px;
    bottom:3px;
    left:4px;
    position: absolute;
    background:green;

}
