
.searchInptu {
	width: 400px !important;
}
.searchBtn {
	height: 48px;
	width: 100px;
	background: #42A1DA;
	border-radius: 5px;
	margin-left: 5px;
	color: #fff;
}
.chart {
	display: flex;
	align-items: center;
	justify-content: center !important;

	flex-wrap: wrap;
}
.pieChart {
	margin-top: -87px;
}
.centerText {
	text-align: center;
	margin-top: 10px;
}

.completedServiceCards {
	width: 100%;
	padding: 50px 20px;
}
@media only screen and (max-width: 1400px) {
	.completedServiceCards {
		width: 290px;
		padding: 40px 20px;
	}
}
@media only screen and (max-width: 1024px) {
	.pieChart {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 768px) {
	.ourDashboard {
		display: block;
	}
	.chart {
		display: block;
		padding: 0px 100px;
	}

	.downWrap {
		display: block;
		text-align: center;
		justify-content: center;
		margin: 10px auto;
	}


	.pieChart {
		text-align: center;
		justify-content: center;
		display: block;
		margin-left: 40px;
	}
	.chart {
		text-align: center;
		justify-content: center;
		display: grid;
		place-items: center;
	}
}

@media only screen and (max-width: 400px) {
	.chart {
		display: block;
		padding: 0px 50px;
	}
	.barChart {
		padding: 0px 50px;
		margin-left: -138px;
	}
	.pieChart {
		margin-left: -57px;
	}
}
