.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 98%;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  border-radius: 3px;
  color: black;
  position: absolute;
  top: 47px;
  }
  
  .options-list li {
    padding: 8px 10px;
    cursor: pointer;
  }
  
  .options-list li:hover {
    background-color: #f0f0f0;
  }
